@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {font-family: 'Noto Sans KR', sans-serif;}
.cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #222;
    z-index: 100;
}
.cover .intro_cover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cover .intro_cover p {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    width: 700px;
    line-height: 48px;
}
#fp-nav {
    min-width: 200px;
    width: calc(100% - 1360px);
    max-width: 560px;
    height: 100%;
    background: rgba(17, 17, 17, 0.8);
    z-index: 10 !important;
}
#fp-nav.fp-left {
    left: 0 !important;
}
#fp-nav ul, .fp-slidesNav ul {
    position: absolute;
    width: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#fp-nav ul li, .fp-slidesNav ul li {
    width: 100% !important;
    height: 80px !important;
    margin: 0 !important;
}
#fp-nav ul li a, #fp-nav ul li:hover a {
    transition: all 0.3s ease;
}
#fp-nav ul li a.active, #fp-nav ul li:hover a.active {
    background: rgba(17, 17, 17, 0.8);
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    width: 200px !important;
    height: 100% !important;
    border-radius: 0 !important;
    margin: 0 !important;
    transform: translate(-50%,-50%);
    background: none !important;
    left: calc(100% - 100px) !important;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    margin: 0 !important;
    font-weight: bold;
}
.fp-sr-only {
    clip: unset !important;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    width: 100vw;
    height: 100vh;
    background: #292929;
    position: relative;
}
#section1 {
    background: #fff;
}
section .inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#section1 .inner svg {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 399px;
    height: 250px;
}
#section1 .inner svg.name1 {
    opacity: 0;
    transition: all 2s ease;
}
#section1 .inner svg.name2 {
    transition: all 2s ease;
}
#section1 .line {
    /* width: calc(50% - 197px); */
    width: 0;
    height: 2px;
    background: #222;
    position: absolute;
    right: 0;
    top: calc(50% + 142px);
    transition: all 3s ease;
}

#section2 .inner figure {
    width: 388px;
    height: 720px;
    position: absolute;
    top: 50%;
    left: 312px;
    transform: translateY(-50%);
}
#section2 .inner figure img {
    width: 100%;
}
#section2 .inner .intro {
    width: 300px;
    position: absolute;
    top: 50%;
    right: 160px;
    transform: translateY(-50%);
}
#section2 .inner .intro p {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
    color: #fff;
}
#section2 .inner .intro p:first-child {
    margin-top: 0;
}
#section2 .inner .intro h3 {
    height: 36px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
#section2 .inner .intro h3 span {
    display: block;
}
#section2 .inner .intro .myskill {
    height: 125px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
#section2 .inner .intro .myskill span {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
#section2 .inner .intro .myskill span img {
    width: 100%;
}

#section3 .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
#section3 .inner nav {
    position: absolute;
    left: calc(50% + 50px);
    top: 120px;
    transform: translateX(-50%);
}
#section3 .inner nav ul {
    display: flex;
    gap: 36px;
}
#section3 .inner nav ul li {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    position: relative;
    cursor: pointer;
}
#section3 .inner nav ul li::before {
    display: none;
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: -6px;
    background: #fff;
    transition: all 0.3s ease;
}
#section3 .inner nav ul li.on::before {
    display: block;
    width: 105%;
}
#section3 .inner .main {
    margin-right: -50px;
    width: 798px;
    height: 648px;
}
#section3 .inner .main ul {
    display: none;
}
#section3 .inner .main ul.active {
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 24px;
}
#section3 .inner .main ul li {
    width: 250px;
    height: 200px;
    position: relative;
}
#section3 .inner .main ul li img {
    width: 100%;
}
#section3 .inner .main ul li p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(17, 17, 17, 0.6);
    color: #fff;
    display: none;
}

#section3 .sub {
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
#section3 .sub ul {
    width: 800px;
    height: 90%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#section3 .sub ul li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none;
}
#section3 .sub ul li h2 {
    margin-top: 60px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
#section3 .sub ul li .d_box {
    overflow: auto;
    width: 100%;
    height: calc(100% - 158px);
    margin-top: 62px;
    padding: 0 48px 62px;
    box-sizing: border-box;
}
#section3 .sub ul li .d_box::-webkit-scrollbar {
    display: none;
}
#section3 .sub ul li .d_box p {
    margin: 12px 0;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#section3 .sub ul li .d_box .main {
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
}
#section3 .sub ul li .d_box p span {
    display: block;
    margin-top: 8px;
}
#section3 .sub ul li .d_box div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#section3 .sub ul li .d_box .span_box p .d_name {
    font-size: 18px;
    font-weight: 700;
}
#section3 .sub ul li .d_box .link {
    justify-content: space-around;
    margin: 16px 0;
}
#section3 .sub ul li .d_box .link p {
    width: 200px;
    height: 50px;
    border: 1px solid #222;
    border-radius: 16px;
}
#section3 .sub ul li .d_box .link p a {
    display: block;
    color: #222;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section3 .sub ul li .d_box div img {
    width: 100%;
}
#section3 .sub button {
    position: absolute;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    text-indent: -99999px;
}
#section3 .sub .left {
    width: 36px;
    height: 36px;
    top: calc(5% + 80px);
    left: calc(50% - 350px);
    background: url(../images/arrow-left.png);
}
#section3 .sub .right {
    width: 36px;
    height: 36px;
    top: calc(5% + 80px);
    right: calc(50% - 390px);
    background: url(../images/arrow-right.png);
}
#section3 .sub .close {
    width: 36px;
    height: 36px;
    top: 10%;
    right: calc(50% - 500px);
    background: url(../images/close.png);
}



#section4 .inner address {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
#section4 .inner address > div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 16px;
}
#section4 .inner address div p {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 24px;
}
#section4 .inner address .call svg {
    width: 48px;
    height: 48px;
    fill: #fff;
}
#section4 .inner address .email svg {
    width: 48px;
    height: 48px;
    fill: none;
    stroke: #fff;
    stroke-width: 2.25px;
    stroke-linecap: round;
    stroke-linejoin: round;
}